@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .text-shadow-md {
    text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FF00FF, 0 0 40px #FF00FF, 0 0 50px #FF00FF, 0 0 60px #FF00FF, 0 0 70px #FF00FF;
  }
  